@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Outfit&family=Ubuntu&family=Young+Serif&display=swap');

body {
    background-color: pink;
    font-family: 'Outfit', sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

#content {
    position: relative;
    margin: 5rem 20rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 25px;
    height: auto;
}

.img {
    width: 39rem;
    border-radius: 25px;
}

h1 {
    font-family: 'Young Serif', serif;
}

.similar-styling {
    color: hsl(332, 51%, 32%);
    font-family: 'Young Serif', serif;
}

p {
    font-size: 16px;
}

span {
    font-weight: bold;
}

li::marker {
    color: hsl(332, 51%, 32%);
}

.preparation {
    background-color: pink;
    padding: 20px;
    border-radius: 25px;
    line-height: 1.4;
}


table {
    border-collapse: collapse;
    width: 100%;
}


td {
    border: none;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}